<!DOCTYPE html>
<html>
  <head>
    <title>boggwon - apostas mais simples</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <%= render "shared/header" %>

  <%= yield %>

  <%= render "shared/footer" %>

  </body>
</html>
